.table-view {
    -fx-background-color: transparent;
}

.table-view .column-header-background {
    -fx-background-color: white;
    -fx-border-color: #BDC3C7;
    -fx-border-width: 0 0 1 0;
}

.table-view .column-header .label {
    -fx-text-fill: #7f8c8d;
    -fx-font-weight: bold;
}

.table-row-cell:filled:selected {
    -fx-background-color: #EBF5FB;
    -fx-text-background-color: black;
}
